$theme-primary:#0B233B;
// #836198;

$text-primary:#fff;
// #7E4F9B;
$text-secondary:#57525A;
$text-secondary-light:#9F9F9F;
$text-secondary-medium:#544E58;
$text-dark-color: #5C5F52;
$text-red-color: #C42B2B;

$background-strong-color:#596ea5;
$background-white-simple: white;

